@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  background: #231E20;
}

body {
  font: 14px 'Open Sans', sans-serif;
  color: #fff;
}

a {
  color: inherit;
}
