<template>
  <sections class="news">
    <h1>Novidades</h1>
    <h2>Em breve novidades</h2>
  </sections>
</template>

<script>
export default {
  name: 'news',
};
</script>

<style lang="scss" scoped>
h1 {
  border-bottom: 1px solid #fff;
  font-size: 32px;
  font-weight: 100;
  margin: 15px 0;
  text-transform: capitalize;
}
h2 {
  padding: 50px 0;
  text-align: center;
}
</style>
