<template>
  <section class="about">
    <h1>Sobre Nós</h1>
    <p>
      O Cravo & a Rosa é uma loja de roupas e acessórios que oferece produtos de moda masculina, feminina, infantil, cosméticos e perfumes importados.<br /> 
      Criada no Ano de 2013 a fim de atender um nicho de mercado específico. O Cravo & a Rosa é uma empresa que trabalha somente com os meios tecnológicos, ou seja, as vendas serão feitas somente atráves do site.
    </p>
  </section>
</template>

<style lang="scss" scoped>
h1 {
  border-bottom: 1px solid #fff;
  font-size: 32px;
  font-weight: 100;
  margin: 15px 0;
  text-transform: capitalize;
}
p {
  padding: 15px;
}
</style>
