<template>
  <section class="home">
    <div class="banner">
      <carousel
        :autoplay="true"
        :perPage="1"
        :centerMode="true"
      >
        <slide>
          <img src="./../../../assets/banner/home-1.jpg">
        </slide>
        <slide>
          <img src="./../../../assets/banner/home-2.jpg">
        </slide>
        <slide>
          <img src="./../../../assets/banner/home-3.jpg">
        </slide>
        <slide>
          <img src="./../../../assets/banner/home-4.jpg">
        </slide>
      </carousel>
    </div>
  </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'home',
  components: {
    Carousel,
    Slide,
  },
};
</script>

<style lang="scss" scoped>
.banner {
  text-align: center;
  position: relative;
  z-index: 9;
}
</style>
