<template>
  <section class="products__perfume">
    <div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/perfume/01.jpg">
        </div>
        <div class="product__description">
          <h2>Polo Blue 50ml</h2>
          <p>
            R$199,99
          </p>
        </div>
      </div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/perfume/02.jpg">
        </div>
        <div class="product__description">
          <h2>Perfume Ch Hc Feminino</h2>
          <p>
            R$ 250,00
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/perfume/03.jpg">
        </div>
        <div class="product__description">
          <h2>1 Million Luky 50ml</h2>
          <p>
            R$ 399,99
          </p>
        </div>
      </div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/perfume/04.jpg">
        </div>
        <div class="product__description">
          <h2>212 Vip 50ml</h2>
          <p>
            R$ 212,00
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import cart from '../../mixins/cart';

export default {
  name: 'product-perfume',
  mixins: [cart],
};
</script>

<style lang="scss" scoped>
.products {
  &__list {
    text-align: center;
  }
}
.product {
  &__item {
  display: inline-block;
  border: 1px solid #fff;
  max-width: 260px;
  width: 100%;
  border-radius: 3px;
  margin: 10px;
  }
  &__image {
    img {
      max-width: 100%;
    }
  }
  &__description {
    padding: 20px 10px 10px;
  }
  &__btn-add{
    background: #333;
    border: 1px solid #555;
    border-radius: 3px;
    display: block;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    &:hover {
      background: #111;
    border: 1px solid #333;
    }
    img {
      width: 32px;
    }
  }
}
</style>
