<template>
  <section class="products__woman">
    <div class="product__item">
      <div class="product__image">
        <img src="./../../assets/products/woman/01.jpg">
      </div>
      <div class="product__description">
        <h2>Produto Coleção Feminina 01</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aperiam qui deserunt iure molestiae.
        </p>
        <button class="product__btn-add">
          <img src="./../../assets/cart.png">
        </button>
      </div>
    </div>
    <div class="product__item">
      <div class="product__image">
        <img src="./../../assets/products/woman/02.jpg">
      </div>
      <div class="product__description">
        <h2>Produto Coleção Feminina 02</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aperiam qui deserunt iure molestiae.
        </p>
        <button class="product__btn-add">
          <img src="./../../assets/cart.png">
        </button>
      </div>
    </div>
    <div class="product__item">
      <div class="product__image">
        <img src="./../../assets/products/woman/03.jpg">
      </div>
      <div class="product__description">
        <h2>Produto Coleção Feminina 03</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aperiam qui deserunt iure molestiae.
        </p>
        <button class="product__btn-add">
          <img src="./../../assets/cart.png">
        </button>
      </div>
    </div>
    <div class="product__item">
      <div class="product__image">
        <img src="./../../assets/products/woman/04.jpg">
      </div>
      <div class="product__description">
        <h2>Produto Coleção Feminina 04</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aperiam qui deserunt iure molestiae.
        </p>
        <button class="product__btn-add">
          <img src="./../../assets/cart.png">
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'product-woman',
};
</script>

<style lang="scss" scoped>
.products {
  &__list {
    text-align: center;
  }
}
.product {
  &__item {
  display: inline-block;
  border: 1px solid #fff;
  max-width: 260px;
  width: 100%;
  border-radius: 3px;
  margin: 10px;
  }
  &__image {
    img {
      max-width: 100%;
    }
  }
  &__description {
    padding: 20px 10px 10px;
  }
  &__btn-add{
    background: #333;
    border: 1px solid #555;
    border-radius: 3px;
    display: block;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    &:hover {
      background: #111;
    border: 1px solid #333;
    }
    img {
      width: 32px;
    }
  }
}
</style>

