<template>
  <section class="products__woman">
    <div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/woman/01.jpg">
        </div>
        <div class="product__description">
          <h2>Saia Longa Listrada</h2>
          <p>
            R$ 45,50
          </p>
        </div>
      </div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/woman/02.jpg">
        </div>
        <div class="product__description">
          <h2>Blusa Feminina Gola Alta</h2>
          <p>
            R$ 49,90
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/woman/03.jpg">
        </div>
        <div class="product__description">
          <h2>Vestido Floral</h2>
          <p>
            R$ 60,00
          </p>
        </div>
      </div>
      <div class="product__item">
        <div class="product__image">
          <img src="./../../assets/products/woman/04.jpg">
        </div>
        <div class="product__description">
          <h2>Sapato Salto Fino Vinho</h2>
          <p>
            R$ 80,00
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import cart from '../../mixins/cart';

export default {
  name: 'product-woman',
  mixins: [cart],
};
</script>

<style lang="scss" scoped>
.products {
  &__list {
    text-align: center;
  }
}
.product {
  &__item {
  display: inline-block;
  border: 1px solid #fff;
  max-width: 260px;
  width: 100%;
  border-radius: 3px;
  margin: 10px;
  }
  &__image {
    img {
      max-width: 100%;
    }
  }
  &__description {
    padding: 20px 10px 10px;
  }
  &__btn-add{
    background: #333;
    border: 1px solid #555;
    border-radius: 3px;
    display: block;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    &:hover {
      background: #111;
    border: 1px solid #333;
    }
    img {
      width: 32px;
    }
  }
}
</style>

