<template>
  <header>
    <div class="logo">
      <img src="../../assets/logo.jpg" />
    </div>
    <div class="mobile-menu">
      <div class="toggle-mobile-menu">
        <a class="close-mobile-menu" @click="toggleMobileMenu" v-if="shouldMobileMenu">&times;</a>
        <a class="open-mobile-menu" @click="toggleMobileMenu" v-else>
          <img src="../../assets/hamburger.png" />
        </a>
      </div>
      <div class="mobile-menu__container" v-show="shouldMobileMenu">
        <div class="user-details" v-if="isLoggedIn()">
          <div class="user-info">
            Bem-vindo, {{username}}! <button class="logout" @click="logout()">[Sair]</button>
          </div>
        </div>
        <ul>
          <li><router-link :to="{ name: 'index' }">Home</router-link></li>
          <li class="has-children" @click="toggleCollection">
            Coleção
            <ul v-show="shouldShowCollectionMenu">
              <li>
                <router-link :to="{ name: 'products', params: { category: 'masculina' }}">
                  Masculina
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'products', params: { category: 'feminina' }}">
                  Feminina
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'products', params: { category: 'infantil' }}">
                  Infantil
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'products', params: { category: 'perfume' }}">
                  Perfumes
                </router-link>
              </li>
            </ul>
          </li>
          <li>
            <router-link :to="{ name: 'news' }">Novidades</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'about' }">Sobre Nós</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'user' }">Cadastrar/Login</router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu">
      <div class="user-details" v-if="isLoggedIn()">
        <div class="user-info">
          Bem-vindo, {{username}}! <button class="logout" @click="logout()">[Sair]</button>
        </div>
      </div>

      <ul>
        <li><router-link :to="{ name: 'index' }">Home</router-link></li>
        <li>
          <a href="/">Coleção</a>
          <ul>
            <li>
              <router-link :to="{ name: 'products', params: { category: 'masculina' }}">
                Masculina
              </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'products', params: { category: 'feminina' }}">
                  Feminina
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'products', params: { category: 'infantil' }}">
                  Infantil
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'products', params: { category: 'perfume' }}">
                  Perfumes
                </router-link>
              </li>

          </ul>
        </li>
        <li>
          <router-link :to="{ name: 'news' }">Novidades</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'about' }">Sobre Nós</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'user' }">Cadastrar/Login</router-link>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
import lStorage from '../../mixins/localstore';

export default {
  name: 'header-app',
  mixins: [lStorage],
  data() {
    return {
      username: '',
      shouldShowCollectionMenu: false,
      shouldMobileMenu: false,
    };
  },
  watch: {
    $route() {
      this.setUsernameIfLoggedIn();
    },
  },
  methods: {
    logout() {
      alert('')
    },
    setLocalStorageKey() {
      this.localStorageKey = 'users';
    },
    isLoggedIn() {
      const user = this.getLocalStorageItem();
      return user.currentUser;
    },
    setUsernameIfLoggedIn() {
      const user = this.getLocalStorageItem();
      if (user.currentUser) {
        this.username = user.currentUser.name;
      }
    },
    hideMobileMenu() {
      this.shouldMobileMenu = false;
    },
    toggleCollection() {
      this.shouldShowCollectionMenu = !this.shouldShowCollectionMenu;
    },
    toggleMobileMenu() {
      if (this.shouldMobileMenu) {
        this.shouldShowCollectionMenu = false;
      }
      this.shouldMobileMenu = !this.shouldMobileMenu;
    },
    addClickMobileMenuListener() {
      const noChildrenElements = document
        .querySelectorAll('.mobile-menu__container li:not(.has-children), .mobile-menu__container .has-children li');
      noChildrenElements.forEach((elements) => {
        if (elements.querySelector('a')) {
          elements
            .querySelector('a')
            .addEventListener('click', () => { this.shouldMobileMenu = false; });
        }
      });
    },
  },
  mounted() {
    this.setUsernameIfLoggedIn();
    this.addClickMobileMenuListener();
  },
};
</script>

<style lang="scss" scoped>
  header {
    .logout {
      border: none;
      background: none;
      color: #fff;
      cursor: pointer;
    }
    display: flex;
    @media(min-width: 768px) {
      align-items: center;
    }
    .logo {
      img {
        max-width: 160px;
      }
    }
    .menu {
      .user {
        &-details {
          margin-bottom: 10px;
        }
        &-cart {
          img {
            filter: invert(1);
          }
        }
      }
    }
    .user {
      &-details {
        text-align: right;
        margin-right: 20px;
      }
      &-cart {
        border: none;
        background: none;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        margin-left: 20px;
        padding: 0;
        img {
          display: inline-block;
          position: relative;
          top: 4px;
          width: 20px;
        }
      }
    }

    .mobile-menu {
      display: none;
      flex-grow: 2;
      text-align: right;
      position: relative;
      @media(max-width: 767px) {
        display: block;
        .open-mobile-menu {
          background: #ccc;
          display: inline-block;
          filter: invert(1);
          padding: 15px;
          position: relative;
          z-index: 999;
        }
        .close-mobile-menu {
          font-size: 46px;
          background: #ccc;
          color: #000 !important;
          display: inline-block;
          padding: 0 15px;
          position: relative;
          z-index: 9;
        }
        &__container {
          background: #fff;
          border-left: 10px solid #eee;
          box-shadow: -5px 0 5px #000;
          font-size: 16px;
          position: fixed;
          padding-top: 90px;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          color: #333;
          > ul {
            margin-top: 10px;
            li {
              padding: 15px 30px;
              li {
                padding-right: 0px;
              }
            }
          }
        }
      }
    }
    .menu {
      display: none;
      @media(min-width: 768px) {
        display: block;
        flex-grow: 2;
        ul {
          text-align: right;
          li {
            display: inline-block;
            margin: 0 10px;
            position: relative;
            padding: 10px;
            padding-left: 0;
            &:before {
              content: url('./../../assets/menu-item-icon.jpg');
              margin: 0 10px;
            }
            &:hover {
              &::before {
                content: '';
                margin: 0 17px 0 16px;
              }
              background: #fff;
              color: #333;
              ul {
                display: block;
              }
            }
            ul {
              background: #fff;
              box-shadow: 0 3px 3px #666;
              color: #333;
              display: none;
              margin-top: 7px;
              overflow: hidden;
              position: absolute;
              text-align: left !important;
              width: 200px;
              li {
                padding: 0;
                margin: 0;
                display: block;
                a {
                  display: block;
                  padding: 5px 10px;
                  &:hover {
                    background: #333;
                    color: #fff;
                  }
                }
                &:before {
                  content: unset;
                  margin: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
</style>
