<template>
  <div id="app">
    <header-app class="header" />
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
import './styles/main.scss';
import HeaderApp from './components/HeaderApp/index.vue';

export default {
  name: 'app',
  components: {
    HeaderApp,
  },
};
</script>

<style lang="scss" scoped>
  #app {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  .header {
    position: relative;
    z-index: 999;
  }
  .content {
    position: relative;
    z-index: 9;
  }
</style>
