<template>
  <section class="products">
    <h1>{{ category }}</h1>

    <div class="products__list">
      <products-man v-if="category === 'masculina'" />
      <products-woman v-if="category === 'feminina'" />
      <products-kid v-if="category === 'infantil'" />
      <products-perfume v-if="category === 'perfume'" />
    </div>
  </section>
</template>

<script>
import ProductsMan from '../../ProductsMan/index.vue';
import ProductsWoman from '../../ProductsWoman/index.vue';
import ProductsKid from '../../ProductsKid/index.vue';
import ProductsPerfume from '../../ProductsPerfume/index.vue';

export default {
  name: 'products',
  components: {
    ProductsMan,
    ProductsWoman,
    ProductsKid,
    ProductsPerfume,
  },
  data() {
    return {
      categories: ['infantil', 'masculina', 'feminina', 'perfume'],
    };
  },
  computed: {
    category() {
      return this.$route.params.category;
    },
  },
  methods: {
    checkIfCategoryExists() {
      const isValidCategory = this.categories.includes(this.category);

      if (!isValidCategory) {
        this.$router.push({ name: 'index' });
      }
    },
  },
  beforeMount() {
    this.checkIfCategoryExists();
  },
};
</script>

<style lang="scss" scoped>
h1 {
  border-bottom: 1px solid #fff;
  font-size: 32px;
  font-weight: 100;
  margin: 15px 0;
  text-transform: capitalize;
}

.products {
  &__list {
    text-align: center;
  }
}
</style>
