<template>
  <section class="user">
    <div class="user__forms">
      <div>
        <form action="/" @submit.prevent="signUp">
        <h1>Cadastrar</h1>
        <div class="user__input">
          <label for="name">Nome</label>
          <input required type="text" v-model="name" id="name">
        </div>
        <div class="user__input">
          <label for="email">Email</label>
          <input required type="email" v-model="email" id="email">
        </div>
        <div class="user__input">
          <label for="password">Senha</label>
          <input required type="password" v-model="password" id="password">
        </div>
          <button class="btn-sign-up">Cadastrar</button>
        </form>
      </div>
      <div>
        <form action="/" @submit.prevent="signIn">
          <h1>Login</h1>
          <div class="user__input">
            <label for="login-email">Email</label>
            <input required type="email" v-model="loginEmail" id="login-email">
          </div>
          <div class="user__input">
            <label for="login-password">Senha</label>
            <input required type="password" v-model="loginPassword" id="login-password">
          </div>
          <button class="btn-sign-in">Entrar</button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import lStorage from '../../../mixins/localstore';

export default {
  name: 'user',
  mixins: [lStorage],
  data() {
    return {
      name: '',
      email: '',
      password: '',
      loginEmail: '',
      loginPassword: '',
    };
  },
  methods: {
    redirectToHome() {
      this.$router.push({ name: 'index' });
    },
    setCurrentUser(user) {
      const storage = this.getLocalStorageItem();
      [storage.currentUser] = user;
      this.setLocalStorageItem(storage);
    },
    signIn() {
      const user = this.getUserIfExist();
      if (user.length) {
        this.setCurrentUser(user);
        this.redirectToHome();
      } else {
        alert('Usuário não encontrado');
      }
    },
    getUserIfExist() {
      const records = this.getLocalStorageItem();
      if (!records.users) return [];

      const userMatched = records
        .users
        .filter(
          userSaved => userSaved.email === this.loginEmail
                       && userSaved.password === this.loginPassword,
        );
      return userMatched;
    },
    signUp() {
      const user = {
        name: this.name,
        email: this.email,
        password: this.password,
      };
      const usersUpdated = this.createOrSaveInUsers(user);
      this.setLocalStorageItem(usersUpdated);
      this.setCurrentUser([user]);
      this.redirectToHome();
    },
    createOrSaveInUsers(user) {
      const usersStorage = this.getLocalStorageItem();
      if (!usersStorage.users) {
        usersStorage.users = [user];
      } else {
        usersStorage.users.push(user);
      }
      return usersStorage;
    },
    setLocalStorageKey() {
      this.localStorageKey = 'users';
    },
  },
};
</script>

<style lang="scss" scoped>
.user {
  h1 {
    border-bottom: 1px solid #fff;
    font-size: 32px;
    font-weight: 100;
    margin: 15px 0;
    text-transform: capitalize;
  }
  &__forms {
    input {
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 16px;
      padding: 5px 10px;
      width: 100%;
    }
    button {
      border: none;
      padding: 10px 15px;
      font-size: 14px;
      background: #7d7d7d;
      color: #fff;
      border-radius: 3px;
      &.btn-sign-up {
        margin-top: 30px;
      }
      &.btn-sign-in {
        margin-top: 80px;
        float: right;
      }
    }
    @media (min-width: 768px) {
      display: flex;
      > div {
        margin: 0 20px;
        flex-grow: 1;
        flex-basis: 0;
      }
    }
  }
}
</style>
